* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}
body {
  background-image: url(./imgs/rainbow-colorful-spiral-background-vector-8301242.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1100px;
}

 header {
   background-color: rgba(255, 255, 255, 0.411);
   width: 100%;
   height: 200px;
   padding: 30px;
   font-size: 45px;
   text-align: center;
 }

main{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  
}

#main {
  margin-top: 100px;
  max-width: 500px;
  width: 100%;
  max-height: 700px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 9px 20px black;
  text-align: center;
}

#rules{
  max-width: 500px;
  width: 100%;
  margin-top: 100px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 9px 20px black;
  text-align:center;
  padding: 10px;
  overflow: auto;
  list-style-position: inside;
  display:none
}
#rules ol{
  text-align: left;
  line-height: 30px;
}


#scoreBoard{
  /* max-width: 300px; */
  width: 300px;
  margin-top: 100px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 9px 20px black;
  text-align: center;
  list-style-position: inside;
  padding: 10px;
  display:none
}

#container {
  padding: 30px;
}

h2 {
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 10px;
}

#rgb-color {
  display: inline-block;
}

.placar{
  display: inline-block;
  font-size: 24px;
}

#score{
  font-weight: bold;
}

#ballContainer {
  text-align: center;
  padding: 10px;
}

.ball {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid black;
  margin: auto;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.ball:hover {
  cursor: pointer;
  border: 3px solid black;
}

#buttons {
  text-align: center;
  margin-top: 10px;
}

#reset-game {
  margin-top: 10px;
  padding: 10px;
  color: red;
  background-color: white;
}

#reset-game:hover {
  color: white;
  background-color: red;
}

#dataPlayer{
  margin-top: 30px;
}

#player{
  margin-top: 20px;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#nick {
  color: blue;
}

footer{
  margin-top: 100px;
  height: 100px;
  background-color: rgb(3, 3, 3);
  text-align: center;
  z-index: 1;
}

#menuContato{
  text-align: center;
  margin-top: 5px;
  width: 100%;
  color: white;
}

#menuContato li{
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

/* query */

@media only screen and (max-width: 600px) {

  #main{
    width: 300px;
    height: 600px;
  }
  #rules{
    width: 300px;
    height: 600px;
  }
  #scoreBoard{
    width: 300px;
    height: 600px;
  }
  
  header{
    font-size: 40px;
    height: 220px;
  }

}

@media only screen and (max-width: 400px) {

  #main{
    width: 250px;
    margin-top: 50px;
    height: 700px;
  }
  #rules{
    width: 250px;
    height: 700px;
    margin-top: 50px;
  }
  #scoreBoard{
    width: 250px;
    height: 700px;
    margin-top: 50px;
  }
  
  header{
    font-size: 30px;
  }

  h2{
    font-size: 20px;
  }

  #rgb-color{
    font-size: 18px;
    margin-left: -10px;
  }

}
